.ck.ck-balloon-panel.ck-balloon-panel_position_border-side_right.ck-powered-by-balloon {
  display: none;
}
.editor {
  margin-right: 10em;
}
.ck-editor__editable_inline {
  min-height: 500px;
  margin: 5em;
  margin-top: 2rem;
  margin-bottom: 0;
}
.container h2 {
  margin-bottom: 2rem;
}
.ck.ck-editor__main {
  border: 1px solid var(--ck-color-base-border);
}

.upload-button img {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff; /* Example color */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px; /* Example rounded corners */
  width: 5px;
}

.upload-button img {
  width: 16px; /* Adjust as needed */
  margin-right: 8px; /* Adjust as needed */
}
